<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_left_wrist">

	<xacro:macro name="left_wrist"  params="name parent *origin type">
		

		<!-- JOINT -->
		<joint name="${parent}_to_${name}" type="${type}">
				<xacro:insert_block name="origin"/>
				<parent link="${parent}"/>
				<child link="${name}"/>
		</joint>
		

		<!-- LINK -->
		<link name="${name}">
		<visual>
			<material name="qbmove/cube" />
			<geometry>
			<mesh filename="package://alterego_robot/alterego_description/meshes/alterego_v3/visual/left_wrist_v2_1_urdf.dae" scale="0.001 0.001 0.001"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0" />
		</visual>
			<inertial>
				<origin rpy="0 0 0" xyz="-1.0015996e-2 -4.7977946e-2  7.1379217e-3"/>
				<mass value="7.1363493e-01"/>
				<inertia ixx=" 8.9951899e-4" ixy="-6.4509373e-5" ixz="-9.6528261e-6" 
				                             iyy=" 4.9791497e-4" iyz="-3.7410480e-5" 
											                     izz="7.0476751e-4"/>
			</inertial>
				<collision>
					<material name="qbmove/cube"/>
						<geometry>
							<mesh filename="package://alterego_robot/alterego_description/meshes/alterego_v3/collision/left_wrist_v2_1_urdf.stl" scale="0.001 0.001 0.001"/>
						</geometry>
						<origin xyz="0 0 0" rpy="0 0 0" />
				</collision>
		</link>

		<!-- GAZEBO REFERENCE -->
		<gazebo reference="${name}">
			<material>Gazebo/Grey</material>
			<selfCollide>false</selfCollide>
		</gazebo>



	</xacro:macro>

</robot>
