<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_neck_cube">

	<xacro:macro name="neck_cube"  params="name parent *origin type side operation_mode">
		

		<!-- JOINT -->
		<joint name="${parent}_to_${name}" type="${type}">
				<axis xyz="0 0 -1"/>
				<limit effort="1000.0" lower="-1.57" upper="1.57" velocity="0.5"/>
				<dynamics damping="0.065" friction="0.025"/>
				<xacro:insert_block name="origin"/>
				<parent link="${parent}"/>
				<child link="${name}"/>
		</joint>
		

		<!-- LINK -->
		<link name="${name}">
			<visual>
				<material name="qbmove/cube" />
				<geometry>
				<mesh filename="package://alterego_robot/alterego_description/meshes/common/visual/qb_move_advanced_for_mate.dae" scale="0.001 0.001 0.001"/>
				</geometry>
				<origin xyz="0 0 0" rpy="0 0 0" />
			</visual>
			<inertial>
				<origin xyz="-9.5664949e-5 -1.6749134e-5  1.3880927e-3" rpy="0 0 0"/>
					<mass value="4.5418805e-1"/>
					<inertia ixx="1.7978900e-4"  ixy="0"  	          ixz="0" 
							                     iyy="1.7806823e-4"   iyz="0" 
										                              izz="1.6882624e-4" />
			</inertial>
			<collision>
					<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
					<geometry>
						<box size="0.07 0.07 0.07"/>
					</geometry>
			</collision>
		</link>

		<!-- GAZEBO REFERENCE -->
		<gazebo reference="${name}">
			<material>Gazebo/Grey</material>
			<selfCollide>false</selfCollide>
		</gazebo>

		<!-- GAZEBO REFERENCE FOR COMPLIANT PLUGIN-->
		<xacro:compliant_plugin name="${name}" parent="${parent}" side="${side}" operation_mode="${operation_mode}"/>


	</xacro:macro>

</robot>
