<?xml version="1.0"?>

<launch>

  <!-- ARG -->
  <arg name="yamlImu" default="$(find alterego_robot)/config/imu.yaml" />
  <arg name="yamlFile" default="$(find alterego_robot)/config/sensors.yaml" />

  <!-- PARAM -->
  <rosparam command="load" file="$(arg yamlImu)"/>
  <rosparam command="load" file="$(arg yamlFile)"/>

  <!-- SIM QB CLASS -->
  
  <node name="Sensor" pkg="sim_qb_interface" type="Sensor_node_sim" args="0" output="screen" />
  <node name="sim_qb_interface_wheels_node" pkg="sim_qb_interface" type="sim_qb_class_wheels" args="0" output="screen" />


</launch>