<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_flat_flange">

	<xacro:macro name="c_flange_large" params="name parent *origin *limit type side operation_mode ">


		<!-- JOINT -->
		<joint name="${parent}_to_${name}" type="${type}">
			<axis xyz="0 0 1" />
			<xacro:insert_block name="origin" />
			<xacro:insert_block name="limit" />
			<dynamics damping="0.065" friction="0.025" />
			<parent link="${parent}" />
			<child link="${name}" />
		</joint>


		<!-- LINK -->
		<link name="${name}">
			<visual>
				<material name="qbmove/flange" />
				<geometry>
					<mesh
						filename="package://alterego_description/meshes/alterego_v3/visual/la_flg_c_wb_large.dae"
						scale="0.001 0.001 0.001" />

				</geometry>
				<origin xyz="0 0 0" rpy="0 0 0" />
			</visual>
			<inertial>
				<origin xyz="6.4001753e-3 1.4674945e-2 0" rpy="0 0 0" />
				<mass value="1.2524265e-01" />
				<inertia ixx="1.1014959e-4" ixy="-3.0957793e-5" ixz="0"
					iyy="2.3068924e-4" iyz="0"
					izz="2.7657409e-4" />
			</inertial>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh
						filename="package://alterego_description/meshes/alterego_v3/collision/la_flg_c_wb_large.stl"
						scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
		</link>

		<!-- GAZEBO REFERENCE -->
		<gazebo reference="${name}">
			<material>Gazebo/SkyBlue</material>
			<selfCollide>false</selfCollide>
		</gazebo>

		<!-- GAZEBO REFERENCE FOR COMPLIANT PLUGIN-->
		<xacro:compliant_plugin name="${name}" parent="${parent}" side="${side}"
			operation_mode="${operation_mode}" a_mot="${2.086*11}" k_mot="${2.086*0.02}" />
	</xacro:macro>

</robot>