<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hand_flange_v2">

	<xacro:macro name="hand_flange_v2"  params="name parent *origin *origin_ik type">
		

		<!-- JOINT -->
		<joint name="${parent}_to_${name}" type="${type}">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}" />
			<child link="${name}" />
    	</joint>


		<!-- LINK -->
		<link name="${name}">
			<visual>
				<material name="qbmove/flange"/>
				<geometry>
					<mesh filename="package://alterego_description/meshes/alterego_v2/visual/mc_wr_abs_qb_adv_301.dae" scale="0.001 0.001 0.001"/>
				</geometry>
				<origin xyz="0 0 0" rpy="0 0 0"/>
			</visual>
			<inertial>
					<origin xyz="3.0876986e-4 7.1294237e-5 6.7729239e-3" rpy="0 0 0"/>
					<mass value="3.4805486e-2"/>
					<inertia ixx="1.5814995e-5"  ixy="0"  	          ixz="0" 
												iyy="1.1610747e-5"   iyz="0" 
																	izz="2.5935426e-5" />
			</inertial>
			<collision>
					<origin rpy="0 0 0" xyz="0 0 0"/>
					<geometry>
						<mesh filename="package://alterego_description/meshes/alterego_v2/collision/mc_wr_abs_qb_adv_301.stl" scale="0.001 0.001 0.001"/>
					</geometry>
			</collision>
		</link>
		<joint name="${name}__ik" type="fixed">
			<xacro:insert_block name="origin_ik" />
			<origin xyz="0 -0.088 0.032" rpy="0 0 -1.57" />
			<parent link="${name}" />
			<child link="${name}_ik" />
		</joint>
		<link name="${name}_ik">
		</link>


		<!-- GAZEBO REFERENCE -->
		<gazebo reference="${name}">
			<material>Gazebo/Grey</material>
			<selfCollide>false</selfCollide>
		</gazebo>
	</xacro:macro>

</robot>
