<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_cube">

<xacro:macro name="wrist_to_hand_flange_v3"  params="name parent *origin *limit *origin_ik type side operation_mode">
    

	<!-- JOINT -->
	<joint name="${parent}_to_${name}" type="${type}">
			<axis xyz="0 0 1" />
			<xacro:insert_block name="origin" />
			<xacro:insert_block name="limit" />
			<parent link="${parent}" />
			<child link="${name}" />
	</joint>


		<!-- LINK -->
    <link name="${name}">
    </link>

	<joint name="${name}__ik" type="fixed">
		<xacro:insert_block name="origin_ik" />
		<origin xyz="0 -0.088 0.032" rpy="0 0 -1.57" />
		<parent link="${name}" />
		<child link="${name}_ik" />
	</joint>
	<link name="${name}_ik">
	</link>
	<!-- GAZEBO REFERENCE -->
	<gazebo reference="${name}">
		<material>Gazebo/Grey</material>
		<selfCollide>false</selfCollide>
  	</gazebo>

	<!-- GAZEBO REFERENCE FOR COMPLIANT PLUGIN-->
	<xacro:if value="${type == 'revolute'}">
		<xacro:compliant_plugin name="${name}" parent="${parent}" side="${side}" operation_mode="${operation_mode}"/>
	</xacro:if>
</xacro:macro>

</robot>
