# [submodule "utils/realsense/realsense_gazebo_plugin"]
# 	path = utils/realsense/realsense_gazebo_plugin
# 	url = https://github.com/issaiass/realsense_gazebo_plugin.git
# [submodule "alterego_msgs"]
# 	path = alterego_msgs
# 	url = https://github.com/IIT-SoftBots/alterego_msgs.git
# [submodule "alterego_network/ROS-TCP-Endpoint"]
# 	path = alterego_network/ROS-TCP-Endpoint
# 	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
# [submodule "alterego_network/multimaster_fkie"]
# 	path = alterego_network/multimaster_fkie
# 	url = https://github.com/fkie/multimaster_fkie.git
# [submodule "alterego_gripper/SoftHand-Plugin"]
# 	path = alterego_gripper/SoftHand-Plugin
# 	url = https://github.com/NMMI/SoftHand-Plugin.git
# [submodule "alterego_navigation"]
# 	path = alterego_navigation
# 	url = https://github.com/IIT-SoftBots/alterego_navigation.git
[submodule "utils/realsense/realsense_gazebo_plugin"]
	path = utils/realsense/realsense_gazebo_plugin
	url = https://github.com/issaiass/realsense_gazebo_plugin.git
[submodule "alterego_msgs"]
	path = alterego_msgs
	url = https://github.com/IIT-SoftBots/alterego_msgs.git
[submodule "alterego_navigation"]
	path = alterego_navigation
	url = https://github.com/IIT-SoftBots/alterego_navigation.git
[submodule "alterego_gripper/SoftHand-Plugin"]
	path = alterego_gripper/SoftHand-Plugin
	url = https://github.com/NMMI/SoftHand-Plugin.git
[submodule "alterego_network/multimaster_fkie"]
	path = alterego_network/multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie.git
[submodule "alterego_network/ROS-TCP-Endpoint"]
	path = alterego_network/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
