[submodule "utils/realsense/realsense_gazebo_plugin"]
	path = utils/realsense/realsense_gazebo_plugin
	url = https://github.com/issaiass/realsense_gazebo_plugin.git
	
[submodule "utils/multimaster_fkie"]
	path = utils/multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie.git
[submodule "SoftHand-Plugin"]
	path = SoftHand-Plugin
	url = https://github.com/NMMI/SoftHand-Plugin.git
[submodule "navigation_stack"]
	path = navigation_stack
	url = https://github.com/IIT-SoftBots/navigation_stack.git
[submodule "ROS-TCP-Endpoint"]
	path = ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
