<?xml version="1.0"?>

<launch>

  <!-- ROBOT -->
  <arg name="AlterEgoVersion" default="3" />
  <group ns="$(env ROBOT_NAME)">

    <arg name="yamlRobot" default="$(find alterego_robot)/config/robot.yaml" />
    <rosparam command="load" file="$(arg yamlRobot)" />


    <!-- VIBROTACTILE FEEDBACK -->
    <arg name="yamlVibro"
      default="$(find alterego_robot)/config/v$(arg AlterEgoVersion)/vibrotactile_fb.yaml" />
    <rosparam command="load" file="$(arg yamlVibro)"/>
    
    <group ns="left">
      <node pkg="haptic_fb" name="vibrotactile_fb" type="vibrotactile_fb" output="screen"/>
    </group>

    <group ns="right">
      <node pkg="haptic_fb" name="vibrotactile_fb" type="vibrotactile_fb" output="screen"/>
    </group>
  </group>


</launch>