<?xml version="1.0"?>

<launch>

  <arg name="AlterEgoVersion" default="3" />
  <param name="AlterEgoVersion" value="$(arg AlterEgoVersion)" />

  <group ns="$(env ROBOT_NAME)">
    <!-- GENERAL -->
    <arg name="yamlVersion" default="$(find alterego_robot)/config/v$(arg AlterEgoVersion)/general.yaml"/>
    <rosparam command="load" file="$(arg yamlVersion)"/>
    <!-- USB PORT -->
    <arg name="yamlRobotCONFIG" default="$(find alterego_robot)/config/robot_configuration.yaml"/>
    <rosparam command="load" file="$(arg yamlRobotCONFIG)"/>
    <!-- ROBOT -->
    <arg name="yamlRobot" default="$(find alterego_robot)/config/robot.yaml" />
    <rosparam command="load" file="$(arg yamlRobot)" />
    <!-- WHEELS -->
    <arg name="yamlFile" default="$(find alterego_robot)/config/wheels.yaml" />
    <rosparam command="load" file="$(arg yamlFile)"/>
    <group ns="wheels">

      <node name="qb_interface_node" pkg="qb_interface" type="qb_interface" args="0" output="screen" />      <!-- Activate encoders and motors --> 
      <node pkg="alterego_wheels_controller" name="lqr" type="lqr_node" output="screen"/>                        <!-- Wheels controller -->
      <node pkg="alterego_error_handler" name="error_handler" type="error_handler_node" output="screen"/>      <!-- Error handler for battery residuals and sensors lost-->
    </group>

  </group>  

</launch>