<?xml version="1.0"?>

 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="header">

  <!-- Include xacro macro -->
  <xacro:include filename="$(arg xacro_dir)/include/macro/cube/cube.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/flat_flange.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/neck.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/c_flange.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/fixed_hand.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/cube/neck_cube.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/wrist_to_hand_flange_v3.xacro" />
	
  <xacro:include filename="$(find softhands_description)/urdf/xacro/include/macro/v3/header.xacro"/>
  <xacro:include filename="$(find softhands_description)/urdf/xacro/v3.xacro"/>
  <xacro:include filename="$(find softhands_description)/urdf/xacro/include/macro/color.xacro" />
  <xacro:include filename="$(find softhands_description)/urdf/xacro/include/macro/plugin.xacro"/>
  <!-- SENSORS -->
  <xacro:include filename="$(arg xacro_dir)/include/macro/sensors/imu.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/sensors/camera.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/sensors/laser.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/sensors/realsense.xacro" />

  <!-- WHEEL -->
  <xacro:include filename="$(arg xacro_dir)/include/macro/wheel.xacro" />

  <!-- Color definitions -->
  <xacro:include filename="$(arg xacro_dir)/include/color.xacro" />

  <!-- V3 -->
  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/c_flange_long.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/c_flange_large.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/flat_flange_large.xacro" />  <!-- IT is missing the file dae and stl -->
  <xacro:include filename="$(arg xacro_dir)/include/macro/cube/cube_addon.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/cube/left_wrist.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/cube/right_wrist.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/kick_stand/kick_stand.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/kick_stand/kick_stand_wheel.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/kick_stand/kick_stand_short.xacro" />


  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/fsens_hinge.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/face_v3.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/face_v2.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/compliant_plugin.xacro" />
  <xacro:include filename="$(arg xacro_dir)/include/macro/flange/hand_flange_v2.xacro" />
	
</robot>

