<?xml version="1.0"?>



 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_head">

	<xacro:macro name="face_v2"  params="name parent *origin type">
				
		<joint name="${parent}_to_${name}" type="${type}">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${name}"/>
		</joint>

			<link name="${name}">
					<visual>
						<material name="qbmove/cube"/>
						<geometry>
							<mesh filename="package://alterego_robot/alterego_description/meshes/alterego_v2/visual/mteg102_head.dae" scale="0.001 0.001 0.001"/>
						</geometry>
						<origin xyz="0 0 0" rpy="0 0 0"/>
					</visual>
				
					<inertial>
						<origin xyz="-5.7289026e-2 -2.2846699e-2  -2.3567538e-3" rpy="0 0 0"/>
						<mass value="3.1797228e-1"/>
						<inertia ixx="8.0284197e-4"  ixy="0"  	        ixz="0" 
													iyy="6.0074469e-4" 	iyz="1.7864454e-5" 
																		izz="5.6711386e-4" />
					</inertial>

					<collision>
						<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
						<geometry>
							<mesh filename="package://alterego_robot/alterego_description/meshes/alterego_v2/collision/mteg102_head.stl" scale="0.001 0.001 0.001"/>
						</geometry>
					</collision>
			</link>

		<gazebo reference="${name}">
			<material>Gazebo/Grey</material>
			<selfCollide>false</selfCollide>
		</gazebo>

	</xacro:macro>
</robot>

