<?xml version="1.0"?>

 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensors">


	<!-- IMU -->
  <xacro:imu name="imu" parent="base_link" type="fixed">
    <origin xyz="0 102.5e-3 24.25e-3" rpy="0 0 0" />
  </xacro:imu>

  <!-- LIDAR -->
  <xacro:laser name="scan" parent="base_link" type="fixed">
    <origin xyz="0 0 116e-3 " rpy="0 0 -1.5707963" />
  </xacro:laser>

  <!-- ZED -->
  <xacro:camera name="zed" parent="head_robot" type="fixed">
    <origin xyz="-87.9065e-3 21.6811e-3 -6.5e-3" rpy="-1.5707963 0 2.3561944" /> 
  </xacro:camera>


  <!-- RealSense -->
  <xacro:sensor_d415 name="camera" topics_ns="$(arg robot_name)/camera" parent="zed" publish_pointcloud="true">
    <origin xyz="0.0 -0.01 -0.04" rpy="0 0 0" />
  </xacro:sensor_d415>  
</robot>