<?xml version="1.0"?>

 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheels">

    <!-- Left wheel -->
    <xacro:wheel name="wheel_L" parent="base_link" type="continuous">
      <origin rpy="0 -1.5707963 -1.5707963" xyz="0 277e-3 0" />
    </xacro:wheel>
    <!-- Right wheel -->
	    <xacro:wheel name="wheel_R" parent="base_link" type="continuous">
      <origin rpy="0 -1.5707963 1.5707963" xyz="0 -277e-3 0" />
    </xacro:wheel>
</robot>

