<?xml version="1.0"?>



 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_kick_stand">

	<xacro:macro name="kick_stand"  params="name parent *origin type">
				
		<joint name="${parent}_to_${name}" type="${type}">
			<axis xyz="0 1 0"/>
			<limit effort="1000.0" lower="-0.523333333" upper="0"  velocity="100.0"/>
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${name}"/>
		</joint>

		<link name="${name}">
			<visual>
				<material name="SoftLightBlue"/>
				<geometry>
					<mesh filename="package://alterego_description/meshes/alterego_v3/visual/salv_v04.dae" scale="0.001 0.001 0.001"/>
				</geometry>
				<origin xyz="0 0 0" rpy="0 0 0"/>
			</visual>
			<inertial>
				<origin xyz="8.0677828e-2 -5.9076422e-4 -3.0690115e-1" rpy="0 0 0"/>
					<mass value="1.1203426"/>
					<inertia ixx="4.1808700e-2"  ixy="4.0334806e-5"  	    ixz="7.9033069e-3" 
												iyy="4.3331012e-2" 	    iyz="-1.7925920e-4" 
																			izz="1.6723708e-3" />
			</inertial>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://alterego_description/meshes/alterego_v3/collision/salv_v04.stl" scale="0.001 0.001 0.001"/>
				</geometry>
			</collision>
		</link>

		<gazebo reference="${name}">
			<material>Gazebo/Grey</material>
			<selfCollide>false</selfCollide>
		</gazebo>

		<gazebo reference="${parent}_to_${name}">
			<implicitSpringDamper>true</implicitSpringDamper>
			<springStiffness>200</springStiffness>
			<springReference>-0.2616665</springReference>
		</gazebo>

	</xacro:macro>
</robot>

