<?xml version="1.0"?>



 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_wheel">

	<xacro:macro name="kick_stand_wheel"  params="name parent *origin type">
		
		<joint name="${parent}_to_${name}" type="${type}">
			<axis xyz="0 0 1"/>
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${name}"/>
		</joint>


		<link name="${name}">
				<visual>
					<material name="wheel"/>
					<geometry>
						<mesh filename="package://alterego_description/meshes/alterego_v3/visual/gyul50.dae" scale="0.001 0.001 0.001"/>
					</geometry>
					<origin rpy="0 0 0" xyz="0 0 0"/>
				</visual>
				<inertial>
					<origin xyz="0 0 0" rpy="0 0 0"/>
						<mass value="5.2450716e-2"/>
						<inertia ixx="9.6163023e-6"  ixy="0"  	         ixz="0" 
													iyy="9.6163185e-6"  iyz="0" 
																		izz="1.5742967e-5" />
				</inertial>
				<collision>
					<origin rpy="0 0 0" xyz="0 0 0"/>
					<geometry>
						<mesh filename="package://alterego_description/meshes/alterego_v3/collision/gyul50.stl" scale="0.001 0.001 0.001"/>
					</geometry>
				</collision>
		</link>

	<gazebo reference="${name}">
		<material>Gazebo/Grey</material>	
	</gazebo>

	</xacro:macro>
</robot>

