<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_compliant_plugin">

	<xacro:macro name="compliant_plugin"
		params="name parent side operation_mode P:=125.0 I:=0.0 D:=4.5 a_mot:=11 k_mot:=0.02">
		<gazebo>
			<plugin name="compliant_act_${parent}_to_${name}" filename="libqbmove_plugin.so">
				<joint>${parent}_to_${name}</joint>
				<operation_mode>${operation_mode}</operation_mode>
				<pub_eltau>false</pub_eltau>
				<pub_state>true</pub_state>
				<sub_ext_tau>false</sub_ext_tau>
				<namespace>$(arg robot_name)/${side}</namespace>
				<t_sample>0.01</t_sample>
				<spring_a1>${a_mot} </spring_a1>
				<spring_k1>${k_mot}</spring_k1>
				<spring_a2>${a_mot}</spring_a2>
				<spring_k2>${k_mot}</spring_k2>
				<mot_1_tauMax>12.0</mot_1_tauMax>
				<mot_2_tauMax>12.0</mot_2_tauMax>
				<ctrl_1_P>${P}</ctrl_1_P>
				<ctrl_1_I>${I}</ctrl_1_I>
				<ctrl_1_D>${D}</ctrl_1_D>
			</plugin>
		</gazebo>

	</xacro:macro>
</robot>