<?xml version="1.0"?>



 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_head">

	<xacro:macro name="face_v3"  params="name parent *origin type">
				
		<joint name="${parent}_to_${name}" type="${type}">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${name}"/>
		</joint>

			<link name="${name}">
					<visual>
						<material name="qbmove/cube"/>
						<geometry>
							<mesh filename="package://alterego_description/meshes/alterego_v3/visual/mteg102_head_201.dae" scale="0.001 0.001 0.001"/>
						</geometry>
						<origin xyz="0 0 0" rpy="0 0 0"/>
					</visual>
				
					<inertial>
						<origin xyz="4.4194013e-4 1.5128502e-1  4.5874751e-2" rpy="0 0 0"/>
						<mass value="3.5761726e-1"/>
						<inertia ixx="7.2541496e-4"  ixy="0"  	        ixz="0" 
													iyy="8.3922834e-4" 	iyz="1.2781136e-4" 
																		izz="8.2201132e-4" />
					</inertial>

					<collision>
						<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
						<geometry>
							<mesh filename="package://alterego_description/meshes/alterego_v3/collision/mteg102_head_201.stl" scale="0.001 0.001 0.001"/>
						</geometry>
					</collision>
			</link>

		<gazebo reference="${name}">
			<material>Gazebo/Grey</material>
			<selfCollide>false</selfCollide>
		</gazebo>

	</xacro:macro>
</robot>

