<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_cube">

<xacro:macro name="wheel"  params="name parent *origin type">
    
	<!-- JOINT -->
	<joint name="${parent}_to_${name}" type="${type}">
		<axis xyz="0 0 1" />
		<limit effort="22" velocity="1e16" />
		<dynamics damping="5.2" friction="2.17" />
		<xacro:insert_block name="origin"/>
		<parent link="${parent}"/>
		<child link="${name}"/>
	</joint>
	
	<!-- LINK -->
    <link name="${name}">
    <visual>
      <material name="wheel" />
      <geometry>
			<mesh
			filename="package://alterego_description/meshes/common/visual/mteg100_varvel_gearbox.dae"
			scale="0.001 0.001 0.001" />
		</geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </visual>
		<inertial>
		<origin xyz="-9.3352926e-7 -1.6320810e-6 7.2612692e-4" rpy="0 0 0" />
		<mass value="1.2175322" />
		<inertia ixx="4.9769349e-3" ixy="0" ixz="0"
			iyy="4.9768680e-3" iyz="0"
			izz="8.8587376e-3" />
		</inertial>
		<collision>
		<geometry>
			<cylinder length="0.07" radius="0.13" />
		</geometry>
		<origin xyz="0 0 0" rpy="0 0 0" />
		</collision>

    </link>

	<!-- GAZEBO REFERENCE -->
	<gazebo reference="${name}">
		<material>Gazebo/Grey</material>
		<selfCollide>false</selfCollide>
		<mu1 value="1.0" />
		<mu2 value="1.0" />
		<kp value="1e6" />
		<kd value="1.0" />
  	</gazebo>



</xacro:macro>

</robot>
