<launch>
  
  <arg name="resync_on_reconnect" default="True"/> 
  <arg name="resync_on_reconnect_timeout" default="1"/> 
  <arg name="do_not_sync" default="[]"/> 
  <arg name="ignore_hosts" default="[]"/> 
  <arg name="sync_hosts" default="[]"/> 
  <arg name="ignore_topics" default="[]"/> 
  <arg name="ignore_publishers" default="[]"/> 
  <arg name="ignore_subscribers" default="[]"/> 
  <arg name="ignore_nodes" default="[]"/> 
  <arg name="sync_topics" default="[]"/> 
  <arg name="sync_nodes" default="[]"/> 
  <arg name="ignore_services" default="[]"/> 
  <arg name="sync_services" default="[]"/> 
  <arg name="sync_topics_on_demand" default="False"/> 
  <arg name="ignore_type" default="[]"/> 
  <arg name="sync_remote_nodes" default="False"/> 
  <arg name="check_host" default="True"/> 
  


  <node name="master_sync" pkg="fkie_master_sync" type="master_sync" output="screen">

    <!-- Performs resync after the host was offline: unregister and register again to avoid connection losses to python topic. These does not suppot reconnection! -->
    <param name="resync_on_reconnect" value="$(arg resync_on_reconnect)" />
    <!-- A configurable period that controls how long the offline-online period [sec] is before the resync kicks in.
     (Since version 0.5.9)-->
    <param name="resync_on_reconnect_timeout" value="$(arg resync_on_reconnect_timeout)" />
    <!-- Since version 0.7.4:
      For all sync_* and ignore_* parameter you can use follow structure to define filter for specific hosts:
      <rosparam param="sync_topics">
          - hostname:
            - filter
      </rosparam>
    -->
    <!-- A filter list with patterns. If this pattern merges to a node, topic or service it will not be synchronized.
     (Since version 0.5.4)-->

    <rosparam param="do_not_sync" subst_value="true">$(arg do_not_sync)</rosparam>

    <!-- This list with names of ROS master to ignore -->
    <rosparam param="ignore_hosts" subst_value="true">$(arg ignore_hosts)</rosparam>

    <!-- This list with names of ROS master to synchronize. Only this ROS master in this list will be synchronized. The ~ignore_hosts list is processed first. -->
    <rosparam param="sync_hosts" subst_value="true">$(arg sync_hosts)</rosparam>

    <!-- The list of nodes, which are to be ignored while a synchroniation. All their topics and services are ignored!
    These are defaults and cannot be removed: [/rosout, "/*master_sync* node", "remote /*master_discovery* node", "/*node_manager", /*zeroconf] -->
    <rosparam param="ignore_nodes" subst_value="true">$(arg ignore_nodes)</rosparam>

    <!-- The list of nodes to synchronize. Only topics of this nodes are synchronized. The ~ignore_nodes, ~ignore_topics and ~ignore_services lists are processed first. -->
    <rosparam param="sync_nodes" subst_value="true">$(arg sync_nodes)</rosparam>

    <!-- The list of topics, which are to be ignored while a synchroniation. The ~ignore_nodes list is processed first.
    These are defaults and cannot be removed: ['/rosout', '/rosout_agg'] -->
    <rosparam param="ignore_topics" subst_value="true">$(arg ignore_topics)</rosparam>
    <rosparam param="ignore_publishers" subst_value="true">$(arg ignore_publishers)</rosparam>
    <rosparam param="ignore_subscribers" subst_value="true">$(arg ignore_subscribers)</rosparam>

    <!-- The list of topics to synchronize. The ~ignore_nodes and ~ignore_topics lists are processed first. -->
    <rosparam param="sync_topics" subst_value="true">$(arg sync_topics)</rosparam>

    <!-- The list of services, which are to be ignored while a synchroniation. The ~ignore_nodes list is processed first.
    These are defaults and cannot be removed: ['/*get_loggers', '/*set_logger_level'] -->
    <rosparam param="ignore_services" subst_value="true">$(arg ignore_services)</rosparam>

    <!-- The list of services to synchronize. The ~ignore_nodes and ~ignore_services lists are processed first. -->
    <rosparam param="sync_services" subst_value="true">$(arg sync_services)</rosparam>

    <!-- This parameter is only regarded, if sync_nodes or sync_topics are set. In this case the subscribed and published topics are synchronized even if they are not in the sync_* list -->
    <param name="sync_topics_on_demand" value="False" />

    <!-- The list of types to ignore.
    These are defaults and cannot be removed: ['bond/Status'] -->
    <rosparam param="ignore_type" subst_value="true">$(arg ignore_type)</rosparam>

    <!-- The nodes which are running not at the same host as the ROS master are not synchronized by default. Use sync_remote_nodes to sync these nodes also. -->
    <param name="sync_remote_nodes" value="$(arg sync_remote_nodes)" />

    <!-- checks for eqaul hostname of topic provider and master uri. Usefull on warning "Wait for topic with type..." still if master_discovery is running. -->
    <param name="check_host" value="$(arg check_host)" />
  </node>

</launch>
