<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_flat_flange">

	<xacro:macro name="c_flange"  params="name parent *origin *limit type side operation_mode">
		

		<!-- JOINT -->
		<joint name="${parent}_to_${name}" type="${type}">
			<axis xyz="0 0 1"/>
			<xacro:insert_block name="origin"/>
			<xacro:insert_block name="limit"/>
			<dynamics damping="0.065" friction="0.025"/>
			<parent link="${parent}" />
			<child link="${name}" />
    	</joint>


		<!-- LINK -->
		<link name="${name}">
				<visual>
					<material name="qbmove/flange"/>
					<geometry>
						<mesh filename="package://alterego_robot/alterego_description/meshes/common/visual/la_flg_asm_c_wb_blu.dae" scale="0.001 0.001 0.001"/>

					</geometry>
					<origin xyz="0 0 0" rpy="0 0 0"/>
				</visual>
			<inertial>
				<origin xyz="-7.3157519e-3 2.3015782e-2 0" rpy="0 0 0"/>
					<mass value="8.6640591e-2"/>
					<inertia ixx="7.8695858e-5"  ixy="1.8826444e-5"   ixz="0" 
												iyy="1.0265668e-4"   iyz="0" 
																	izz="1.3810438e-4" />
			</inertial>
			<collision>
					<origin rpy="0 0 0" xyz="0 0 0"/>
					<geometry>
					<mesh filename="package://alterego_robot/alterego_description/meshes/common/collision/la_flg_asm_c_wb_blu.stl" scale="0.001 0.001 0.001"/>
					</geometry>
			</collision>
		</link>

		<!-- GAZEBO REFERENCE -->
		<gazebo reference="${name}">
			<material>Gazebo/SkyBlue</material>
			<selfCollide>false</selfCollide>
		</gazebo>
		<!-- GAZEBO REFERENCE FOR COMPLIANT PLUGIN-->
  		<xacro:if value="${type == 'revolute'}">
			<xacro:compliant_plugin name="${name}" parent="${parent}" side="${side}" operation_mode="${operation_mode}"/>
		</xacro:if>
	</xacro:macro>

</robot>
