<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_flat_flange ">

	<xacro:macro name="c_flange_long"  params="name parent *origin type side operation_mode">
		
		<!-- JOINT -->
		<joint name="${parent}_to_${name}" type="${type}">
			<axis xyz="0 0 1"/>
			<limit effort="1000.0" lower="-1.57" upper="1.57" velocity="0.5"/>
			<xacro:insert_block name="origin"/>
			<dynamics damping="0.065" friction="0.025"/>
			<parent link="${parent}" />
			<child link="${name}" />
    	</joint>


		<!-- LINK -->
		<link name="${name}">
				<visual>
					<material name="qbmove/flange"/>
					<geometry>
						<mesh filename="package://alterego_robot/alterego_description/meshes/alterego_v3/visual/flange_c_long_new.dae" scale="0.001 0.001 0.001"/>

					</geometry>
					<origin xyz="0 0 0" rpy="0 0 0"/>
				</visual>
			<inertial>
				<origin xyz="5.1118673e-3 6.5177180e-3 3.0662492e-2" rpy="0 0 0"/>
					<mass value="9.6213806e-2"/>
					<inertia ixx="2.2241540e-4"  ixy="-8.1427421e-6"  	    ixz="-2.7872669e-5" 
							                     iyy="1.6452796e-4" 	    iyz="-3.4361481e-5" 
										                                    izz="1.1671216e-4" />
				</inertial>
			<collision>
					<origin rpy="0 0 0" xyz="0 0 0"/>
					<geometry>
					<mesh filename="package://alterego_robot/alterego_description/meshes/alterego_v3/collision/flange_c_long_new.stl" scale="0.001 0.001 0.001"/>
					</geometry>
			</collision>
		</link>

		<!-- GAZEBO REFERENCE -->
		<gazebo reference="${name}">
			<material>Gazebo/SkyBlue</material>
			<selfCollide>false</selfCollide>
		</gazebo>

		<!-- GAZEBO REFERENCE FOR COMPLIANT PLUGIN-->
		<xacro:compliant_plugin name="${name}" parent="${parent}" side="${side}" operation_mode="${operation_mode}"/>
	</xacro:macro>

</robot>
