<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macros_flat_flange">

	<xacro:macro name="flat_flange_large" params="name parent *origin *limit type side operation_mode">


		<!-- JOINT -->
		<joint name="${parent}_to_${name}" type="${type}">
			<axis xyz="0 0 1" />
			<xacro:insert_block name="origin" />
			<xacro:insert_block name="limit" />
			<dynamics damping="0.065" friction="0.025" />
			<parent link="${parent}" />
			<child link="${name}" />
		</joint>


		<!-- LINK -->
		<link name="${name}">
			<visual>
				<material name="qbmove/flange" />
				<geometry>
					<mesh
						filename="package://alterego_robot/alterego_description/meshes/common/visual/la_flg_asm_flat_blu.dae"
						scale="0.001 0.001 0.001" />
				</geometry>
				<origin xyz="0 0 0" rpy="0 0 0" />
			</visual>
			<inertial>
				<origin xyz="-8.0511890e-5 0 6.1371397e-4" rpy="0 0 0" />
				<mass value="4.1898263e-02" />
				<inertia ixx="1.5773084e-5" ixy="0" ixz="0"
					iyy="2.1042697e-5" iyz="0"
					izz="3.6312308e-5" />
			</inertial>
			<collision>
				<material name="qbmove/cube" />
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh
						filename="package://alterego_robot/alterego_description/meshes/common/collision/la_flg_asm_flat_blu.stl"
						scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
		</link>

		<!-- GAZEBO REFERENCE -->
		<gazebo reference="${name}">
			<material>Gazebo/SkyBlue</material>
			<selfCollide>false</selfCollide>
		</gazebo>

		<!-- GAZEBO REFERENCE FOR COMPLIANT PLUGIN-->
		<xacro:compliant_plugin name="${name}" parent="${parent}" side="${side}"
			operation_mode="${operation_mode}" P="500" D="18" />
	</xacro:macro>

</robot>