<?xml version="1.0"?>

 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fsens_hinge">

	<xacro:macro name="fsens_hinge"  params="name parent *origin *limit type side operation_mode">
      
    <!-- IMU : -->
    <joint name="${parent}_to_${name}" type="${type}">
      <axis xyz="0 0 1"/>
			<!-- <limit effort="1000.0" lower="-3.14" upper="3.14" velocity="0.5"/> -->
			<dynamics damping="0.065" friction="0.025"/>
			<xacro:insert_block name="origin"/>
      <xacro:insert_block name="limit"/>
			<parent link="${parent}"/>
			<child link="${name}"/>
    </joint>

    <link name="${name}">
            <visual>
            <material name="qbmove/cube"/>
            <geometry>
              <mesh filename="package://alterego_robot/alterego_description/meshes/alterego_v3/visual/fsens_hinge_001.dae" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
          </visual>
		<inertial>
			<origin xyz="0 -7.3560725e-4 -2.2326727e-3" rpy="0 0 0"/>
				<mass value="1.0238457e-01"/>
				<inertia ixx="5.9037323e-5"  ixy="0"  	              ixz="0" 
						                     iyy="5.3509057e-5" 	  iyz="0" 
									                                  izz="8.7851500e-5" />
		</inertial>
      <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://alterego_robot/alterego_description/meshes/alterego_v3/collision/fsens_hinge_001.stl" scale="0.001 0.001 0.001"/>
          </geometry>
      </collision>
    </link>


		<!-- GAZEBO REFERENCE FOR COMPLIANT PLUGIN-->
		<xacro:compliant_plugin name="${name}" parent="${parent}" side="${side}" operation_mode="${operation_mode}"/>
    
	</xacro:macro>

  

</robot>

