<?xml version="1.0"?>

 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">

	<xacro:macro name="camera"  params="name parent *origin type">
      
    <!-- ZED : -->
    <joint name="${parent}_to_${name}" type="${type}">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${name}"/>
    </joint>

    <link name="${name}">
            <visual>
            <material name="qbmove/cube"/>
            <geometry>
              <mesh filename="package://alterego_description/meshes/common/visual/zedm.dae" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
          </visual>
        <inertial>
          <origin xyz=" -1.7967264e-2  8.9226986e-4  7.6630930e-6" rpy="0 0 0"/>
            <mass value="5.8888131e-2"/>
            <inertia ixx=" 0"  ixy="0"   ixz="0" 
                          iyy="0"   iyz="0" 
                              izz="0" />
        </inertial>
      <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://alterego_description/meshes/common/collision/zedm.stl" scale="0.001 0.001 0.001"/>
          </geometry>
      </collision>
    </link>

    <!-- FRAME FOR PLUGIN  -->
    <!-- LEFT  -->
    <joint name="${name}_to_left" type="${type}">
			<origin rpy="0 0 0" xyz="0 0.025 0"/>
			<parent link="${name}"/>
			<child link="camera_left"/>
    </joint>
    <link name="camera_left"/>

    <!-- FRAME FOR PLUGIN  -->
    <!-- RIGHT  -->
    <joint name="${name}_to_right" type="${type}">
			<origin rpy="0 0 0" xyz="0 -0.036 0"/>
			<parent link="${name}"/>
			<child link="camera_right"/>
    </joint>

    <link name="camera_right"/>

	</xacro:macro>

</robot>

