<?xml version="1.0"?>

 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar">

	<xacro:macro name="laser"  params="name parent *origin type">
    

    <!-- LASER : -->
    <joint name="${parent}_to_${name}" type="${type}">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${name}"/>
    </joint>

    <link name="${name}">
            <visual>
            <material name="qbmove/cube"/>
            <geometry>
              <mesh filename="package://alterego_robot/alterego_description/meshes/common/visual/rplidar_a2_slamtec.dae" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
          </visual>
			<inertial>
				<origin xyz=" -4.3709710e-4 0   1.8991442e-2" rpy="0 0 0"/>
					<mass value="2.0002622e-1"/>
					<inertia ixx=" 9.1569570e-5"  ixy="0"  	          ixz="0" 
							                      iyy="9.0192290e-5"  iyz="0" 
										                              izz="1.2956170e-4" />
			</inertial>
      <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://alterego_robot/alterego_description/meshes/common/collision/rplidar_a2_slamtec.stl" scale="0.001 0.001 0.001"/>
          </geometry>
      </collision>
    </link>

    <gazebo reference="${name}">
      <material>Gazebo/Black</material>
    </gazebo>
	</xacro:macro>

</robot>

