<?xml version="1.0"?>


<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body">


	<xacro:if  value="$(arg ENABLE_FIXED_BASE)">
		<!-- Inserisci qui il codice che deve essere attivato -->
		<link name="world">
		</link>

		<joint name="world_to_base" type="fixed">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<parent link="world" />
			<child link="base_link" />
		</joint>
	</xacro:if>

	<link name="base_link">
		<visual>
			<material name="SoftLightBlue" />
			<geometry>
				<mesh
					filename="package://alterego_description/meshes/alterego_v2/visual/body.dae"
					scale="0.001 0.001 0.001" />
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0" />
		</visual>
		<inertial>
			<origin xyz="-1.2011052e-5 1.1480563e-3 2.4548879e-1" rpy="0 0 0" />
			<mass value="2.0831010e+1" />
			<inertia ixx=" 1.6382953" ixy="-4.9516366e-4" ixz="-8.8000450e-3"
				iyy="1.4399643" iyz="4.3295684e-3"
				izz="2.5676989e-1" />
		</inertial>

		<collision>
			<geometry>
				<mesh
					filename="package://alterego_description/meshes/alterego_v2/collision/body.stl"
					scale="0.001 0.001 0.001" />
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0" />
		</collision>

	</link>

	<link name="torso">
	</link>

	<joint name="base_to_torso" type="fixed">
		<origin xyz="0 0 0.633" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="torso" />
	</joint>

	<gazebo reference="base_link">
		<material>Gazebo/SkyBlue</material>
		<selfCollide>false</selfCollide>
	</gazebo>


</robot>