<?xml version="1.0"?>

 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="right_arm">
  


  <!-- SHOULDER -->
    <!-- FLANGE -->
    <xacro:flat_flange name="right_shoulder_flange" parent="base_link" type="revolute" side="right" operation_mode="5">
      <origin xyz="16.9617e-3 -154.989e-3 669.737e-3" rpy="0.1745345 -1.3962633 1.5707948"/>
    </xacro:flat_flange>
    <!-- CUBE -->
    <xacro:cube name="right_shoulder_cube" parent="right_shoulder_flange" type="fixed">
      <origin xyz="0 0 37.0e-3" rpy="-1.5707963 0 3.1415927"/> 
    </xacro:cube>


  <!-- UPPER ARM -->
    <!-- FLANGE -->
    <xacro:c_flange name="right_arm_flange" parent="right_shoulder_cube" type="revolute" side="right" operation_mode="5">
      <origin xyz="0 0 -0.5e-3" rpy="0 0 3.1415927"/>
			<limit effort="1000.0" lower="-1.57" upper="1.57" velocity="0.5"/>
    </xacro:c_flange>
    <!-- CUBE -->
    <xacro:cube name="right_arm_cube" parent="right_arm_flange" type="fixed">
      <origin xyz="-90e-3 0 -0.5e-3" rpy="0 1.5707963 3.1415927"/>
    </xacro:cube>

  <!-- ELBOW -->
    <!-- FLANGE -->
    <xacro:flat_flange name="right_elbow_flange" parent="right_arm_cube" type="revolute" side="right" operation_mode="5">
      <origin xyz="0 0 40.5e-3" rpy="0 0 1.5707963"/>
    </xacro:flat_flange>
    <!-- CUBE -->
    <xacro:cube name="right_elbow_cube" parent="right_elbow_flange" type="fixed">
      <origin xyz="0 0 37e-3" rpy="1.5707963 0 -1.5707963"/>
    </xacro:cube>

  <!-- FOREARM -->
    <!-- FLANGE -->
    <xacro:c_flange name="right_forearm_flange" parent="right_elbow_cube" type="revolute" side="right" operation_mode="5">
      <origin xyz="0 0 -0.5e-3" rpy="0 0 -1.5707963"/>
      <limit effort="1000.0" lower="-1.57" upper="1.57" velocity="0.5"/>
    </xacro:c_flange>
    <!-- CUBE -->
    <xacro:cube name="right_forearm_cube" parent="right_forearm_flange" type="fixed">
      <origin xyz="-90e-3 0 0" rpy="-1.5707963 0 1.5707963"/>
    </xacro:cube>
 
  <!-- HAND -->
     <!-- CUBE FLANGE -->
    <xacro:flat_flange name="right_wrist_flange" parent="right_forearm_cube" type="revolute" side="right" operation_mode="5">
      <origin xyz="0 0 40.5e-3" rpy="0 0 -1.5707963"/>
    </xacro:flat_flange>

    <!-- HAND FLANGE -->
    <xacro:hand_flange_v2 name="right_hand_flange" parent="right_wrist_flange" type="fixed">
      <origin xyz="0 0 4e-3" rpy="0 0 3.1415927"/>
      <origin_ik xyz="0 -0.088 0.032" rpy="0 0 -1.57"/>
    </xacro:hand_flange_v2>

      <!-- HAND -->
	  <xacro:if value="$(arg ENABLE_FIXED_HANDS)">
      <xacro:fixed_hand name="right_hand" parent="right_hand_flange" side="dx">
        <origin rpy="-1.57 0 0" xyz="0.0 0.0 0.0"/>
      </xacro:fixed_hand>
    </xacro:if>   
    <xacro:unless value="$(arg ENABLE_FIXED_HANDS)">
      <xacro:v3 side="right" parent="right_hand_flange" position="0.018 0.008 0.091" orientation="1.57 0  -1.57" fixed_hands="false"/>
    </xacro:unless>

</robot>

