<?xml version="1.0"?>



 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="head">


	<!-- NECK -->
	<!-- FLANGE -->
	<xacro:neck name="neck" parent="base_link" type="revolute" side="left" operation_mode="5">
		<origin rpy="0 0 0" xyz="0 0 700.5e-3"/>
	</xacro:neck>

  <xacro:c_flange name="neck_flange" parent="neck" type="fixed" side="left" operation_mode="5">
		<origin rpy="0 -1.5707963 1.5707963" xyz="0 0 50e-3"/>
	</xacro:c_flange>

    <!-- CUBE -->
  <xacro:neck_cube name="neck_cube" parent="neck_flange" type="revolute" side="right" operation_mode="5">
    <origin rpy="0 0 2.356195 " xyz="0 0 0.5e-3"/>
  </xacro:neck_cube>

    <!-- FACE -->
  <xacro:face_v2 name="head_robot" parent="neck_cube" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0 0 0.0"/> 
  </xacro:face_v2>

  <link name="head_curr">
    <inertial>
      <origin xyz=" 2.8406417e-5  -1.0608066e-7  -1.1037173e-5" rpy="0 0 0" />
      <mass value="5.6999990e-4" />
      <inertia ixx=" 0" ixy="0" ixz="0"
        iyy="0" iyz="0"
        izz="0" />
    </inertial>
  </link>
  <joint name="head_robot_to_head_curr" type="fixed">
    <!-- <origin xyz="83e-3 -0.5e-3  1006.5e-3" rpy="-1.57 0 -1.57" /> -->
    <origin xyz="0 0 0" rpy="-1.5707963 0 2.3561944" />
    <parent link="head_robot" />
    <child link="head_curr" />
  </joint>
</robot>

