<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body">

	<xacro:if  value="$(arg ENABLE_FIXED_BASE)">
		<!-- Inserisci qui il codice che deve essere attivato -->
		<link name="world">
		</link>

		<joint name="world_to_base" type="fixed">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<parent link="world" />
			<child link="base_link" />
		</joint>
	</xacro:if>

	<link name="base_link">
		<visual>
			<material name="SoftLightBlue" />
			<geometry>
				<mesh
					filename="package://alterego_description/meshes/alterego_v3/visual/aego_base.dae"
					scale="0.001 0.001 0.001" />
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0" />
		</visual>
		<inertial>
			<origin xyz="-6.0298829e-3 2.5874338e-4 3.3410009e-1" rpy="0 0 0" />
			<mass value="2.3743e+1" />
			<inertia ixx=" 3.1258968" ixy="-1.5892316e-3" ixz="-4.7850173e-2"
				iyy="2.9578724" iyz="-5.7425852e-4"
				izz="2.6379126e-1" />
		</inertial>
		<collision>
			<geometry>
				<mesh
					filename="package://alterego_description/meshes/alterego_v3/collision/aego_base.stl"
					scale="0.001 0.001 0.001" />
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0" />
		</collision>
	</link>
	<link name="torso">
	</link>
	<joint name="base_to_torso" type="fixed">
		<origin xyz="-0.0 0 0.874939" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="torso" />
	</joint>

	<gazebo reference="base_link">
		<material>Gazebo/SkyBlue</material>
		<selfCollide>false</selfCollide>
	</gazebo>


</robot>