<launch>

  <arg name="node_start_delay" default="5.0"/> 
  <arg name="mcast_address" default="224.0.0.1" />
  <arg name="user_password" default="jntlbmc" /> 
  <!-- <arg name="user_interface" default="wlp112s0" /> -->
  <arg name="user_interface" default="enp111s0" />  
  

  <node pkg="fkie_master_discovery" type="route.sh" name="route" output="screen" args="$(arg user_password) $(arg user_interface)" />

  <node name="multimaster_discovery" pkg="fkie_master_discovery" output="screen" type="master_discovery" >
    <param name="mcast_group" value="$(arg mcast_address)" />
    
  </node>

</launch>
