<?xml version="1.0"?>


<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kick_stand">

    <!-- FRONT -->
    <xacro:kick_stand name="front_kick_stand" parent="base_link" type="revolute">
      <origin rpy="0 0 0" xyz="30e-3 0 536e-3"/>
    </xacro:kick_stand>
    <xacro:kick_stand_wheel name="front_wheel" parent="front_kick_stand" type="continuous">
      <origin xyz=" 168.487e-3 0 -610.010e-3" rpy="-1.5707963 0.1745327 3.1415927" />
    </xacro:kick_stand_wheel>

    <!-- BACK -->
    <xacro:kick_stand name="back_kick_stand" parent="base_link" type="revolute">
      <origin rpy="0 0 3.1415927" xyz="-30e-3 0 536e-3"/>
    </xacro:kick_stand>
    <xacro:kick_stand_wheel name="back_wheel" parent="back_kick_stand" type="continuous">
      <origin xyz=" 168.487e-3 0 -610.010e-3" rpy="-1.5707963 0.1745327 3.1415927" />
    </xacro:kick_stand_wheel>
</robot>

