<?xml version="1.0"?>

 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="right_arm">

  <!-- SHOULDER -->
    <!-- FLANGE -->
    <xacro:flat_flange_large name="right_shoulder_flange" parent="base_link" type="revolute" side="right" operation_mode="1">
      <origin xyz="28.6482e-3 -220.259e-3 901.246e-3" rpy="0.1745345 -1.3962633 1.5707948"/>
      <limit effort="1000.0" lower="0.0" upper="1.75" velocity="0.5" />
    </xacro:flat_flange_large>
    <!-- CUBE -->
    <xacro:cube_addon name="right_shoulder_cube" parent="right_shoulder_flange" type="fixed">
      <origin xyz="0 0.5e-3 37e-3" rpy="-1.5707963 0 3.1415927"/>
    </xacro:cube_addon>

  <!-- UPPER ARM -->
    <!-- FLANGE -->
    <xacro:c_flange_large name="right_arm_flange" parent="right_shoulder_cube" type="revolute" side="right" operation_mode="5">
      <origin xyz="0 0 0.5e-3" rpy="0 0 3.1415927"/>
      <limit effort="1000.0" lower="-1.57" upper="0.0" velocity="0.5" />

    </xacro:c_flange_large>
    <!-- CUBE -->
    <xacro:cube name="right_arm_cube" parent="right_arm_flange" type="fixed">
      <origin xyz="-90e-3 0 0" rpy="0 1.5707963 3.1415927"/>
    </xacro:cube>


  <!-- ELBOW -->
    <!-- FORCE SENSOR -->
    <xacro:fsens_hinge name="right_elbow_flange_sensor" parent="right_arm_cube" type="revolute" side="right" operation_mode="5">
      <origin rpy="0 0 1.5707963" xyz="0.0 0.0 66.5e-3"/>
			<limit effort="1000.0" lower="-1.57" upper="1.57" velocity="0.5"/>

    </xacro:fsens_hinge>
    <!-- FLANGE -->
    <xacro:flat_flange name="right_elbow_flange" parent="right_elbow_flange_sensor" type="fixed" side="right" operation_mode="5">
      <origin xyz="0 0 18e-3" rpy="0 0 -1.5707963"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>

    </xacro:flat_flange>
    <!-- CUBE -->
    <xacro:cube name="right_elbow_cube" parent="right_elbow_flange" type="fixed">
      <origin xyz="0 0 37e-3" rpy="1.5707963 0 0"/>
    </xacro:cube>

  <!-- FOREARM -->
    <!-- FLANGE -->
    <xacro:c_flange name="right_forearm_flange" parent="right_elbow_cube" type="revolute" side="right" operation_mode="5">
      <origin xyz="0 0 -0.5e-3" rpy="0 0 -1.5707963"/>
			<limit effort="1000.0" lower="-0.2" upper="1.57" velocity="0.5"/>

    </xacro:c_flange>
    <!-- CUBE -->
    <xacro:cube name="right_forearm_cube" parent="right_forearm_flange" type="fixed">
      <origin xyz="-90e-3 0 0" rpy="-1.5707963 0 1.5707963"/>
    </xacro:cube>


  <!-- WRIST -->
     <!-- FLANGE -->
    <xacro:flat_flange name="right_wrist_flange" parent="right_forearm_cube" type="revolute" side="right" operation_mode="5">
      <origin rpy="0 0 -1.5707963" xyz="0.0 0.0 40.5e-3"/>
			<limit effort="1000.0" lower="-1.57" upper="1.57" velocity="0.5"/>

    </xacro:flat_flange>
    <!-- WRIST -->
    <xacro:right_wrist name="right_wrist" parent="right_wrist_flange" type="fixed">
      <origin rpy="-1.5707963 0 3.1415927" xyz="-11.9e-3 0 99.8636e-3"/>
    </xacro:right_wrist>

    <!-- WRIST -->
     <!-- Revolute JOINT for HAND -->
    <xacro:right_hand name="right_hand" parent="right_wrist" type="revolute" side="right" operation_mode="5">
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
			<limit effort="1000.0" lower="-1.57" upper="1.57" velocity="0.5" />

    </xacro:right_hand>


    <!-- HAND -->
    <xacro:v3 side="right" parent="right_hand" position="0.015 -0.105 0.01" orientation="3.14 1.57 0" fixed_hands="false">
    </xacro:v3>

</robot>
